<article>
	<header class="text-right be-small">
		<%= time_ago_in_words(comment.created_at) %> - <%= link_to "Borrar", [@article, comment], class:'red' %>
	</header>
	<div class="row">
		<div class="col-xs-1 col-md-1">
			<div class="box">
				<%= image_tag(comment.user.avatar)%>
			</div>
		</div>
		<div class="col-xs-11 col-md-11">
			<div class="box">
				<%= comment.body %>
			</div>
		</div>
	</div>
</article>