<% name ||= "Articulo" %>
<h1><%= name %></h1>
<%= form_for(@article, html:{id:'article_form'} ) do |f| %>
	<% @article.errors.full_messages.each do |message| %>
		<div style="color:red">
			<%= message %>
		</div>
	<% end %>
	<div class="field">
		<%= f.text_field :title, {placeholder:'Titulo', class:'form-control'} %>
	</div>
	<div class="field">
		Portada: <%= f.file_field :cover %>
	</div>
	<div class="field">
		<%= f.hidden_field :body, {id:'body-textarea'} %>
		<%= f.hidden_field :markup, {id:'body-markup'} %>
		<div id="epiceditor" style="height:350px;"></div>
	</div>
	<div class="field">
		Categorias
		<%@catgs.each do |category|%>
			<div class="field">
				<%= check_box_tag "categories[]", category.id%> <%= category.name %>
			</div>
		<%end%>
	</div>
	<div class="btn">
		<%= f.submit 'Guardar', class:'btn be-green white' %>
	</div>
<%end%>

<script>
var editor = new EpicEditor({
	textarea: 'body-markup',
	file:{
		name:'nuevo_articulo'
	}
});
editor.load();

$("#article_form").on("submit", function(){
	$("#body-textarea").val(editor.exportFile('nuevo_articulo', 'html'));
	$("#body-markup").val(editor.exportFile('nuevo_articulo'));
});
	
</script>