<article class="bottom-space">
	<%= article_cover @article.cover.url %>
	<div class="row center-xs">
		<div class="col-xs-12 light-border col-md-7">
			<h1 class="be-big"><%= @article.title %></h1>
			<p class="text-right be-small">
				<%= link_to "Atrás", articles_path , class: "underline"%>
				-
				<span class="red"> <%= @article.visit_counts %> visita(s)</span>
				-
				<%unless @article.user.nil?%>
						Escrito por: <%= @article.user.email%>
				<%end%>
			</p>
			<div class="text-justify"> 
				<%= Sanitize.fragment(@article.body, Sanitize::Config::RELAXED).html_safe %>
			</div>
			<div>
				<%= render "articles/comments"%>
			</div>


			<div><%= link_to "Editar", edit_article_path(@article) %></div>
		</div>
		
	</div>
	
</article>

