<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%= @article.title %></h1>

	<p><%= truncate(@article.body, length:30) %></p>

	<p><%= link_to "Leer Mas", article_url(@article) %></p>
</body>
</html>