<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<header>
		<nav class="be-green white large-padding">
			<ul class="no-list row center-xs middle-xs">
				<li>
					<h1 id="logo"><%= link_to "JCompany", root_path %></h1>
				</li>
				<li class="col-md">
					<%= link_to "Articles", articles_path %>
				</li>
				<li class="col-md">
					<%= link_to "Categorias", categories_path %>
				</li>
				<% @catgs.each do |category|%>
					<li class="col-md">
						<%= link_to category.name, category %>
					</li>
				<%end%>
				<% if user_signed_in? %>
					<li class="col-md"><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
						
					</li>
				<% else %>
					<li class="col-md"><%= link_to "Iniciar Sesión", new_user_session_path %>
						
					</li>
					<li class="col-md"><%= link_to "Crear Cuenta", new_user_registration_path %>
						
					</li>
				<% end %>
			</ul>
		</nav>
	</header>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
