html body{
	margin:0px;
	font-family: 'Roboto', sans-serif;
}

ul {
list-style-type: none;
}

.btn{
	padding-top: 10px;
	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor:pointer;
	padding: 10px 10px;
	margin: 0px;
	border-radius: 5px;

}

.be-green{
	background-color: #699163;
}

#logo{
	font-size: 1.2em;
	margin: 0px;
}

.white{
	color: #ECF0F1;
}

.large-padding{
	padding:  8px 5px;
}

a, a:visited{
	color: inherit;
	text-decoration: none;
}

.field, .top-space ,.actions{
	margin-top: 1em;
}

.relative{
	position:relative;
}

.absolute{
	position:absolute;
}

.article-height{
	height: 120px;
}

.background-cover{
	background-position: center;
	background-size: cover;
}

.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding:  10px 0px;
	font-size: 1.2em;
}


.text-left{
	text-align: left;
}

.text-center{
	text-align: center;
}


.text-right{
	text-align: right;
}

.text-justify{
	text-align: justify;
}

.underline{
	text-decoration: underline;
}

.be-big{
	font-size: 2em;
}

.be-small{
	font-size: 0.8em;
}

.grey{
	color: #616161;
}

.red{
	color: red;
}

.blue{
	color: #66CCFF !important;
}
